@import './token';

@btn-prefix-cls: ~'@{prefix}-btn';

.@{btn-prefix-cls} {
  display: inline-block;
  position: relative;
  outline: none;
  font-weight: @btn-font-weight;
  appearance: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  line-height: @line-height-base;
  transition:
    background-color @transition-duration-2 @transition-timing-function-linear,
    color @transition-duration-2 @transition-timing-function-linear,
    border-color @transition-duration-2 @transition-timing-function-linear,
    box-shadow @transition-duration-2 @transition-timing-function-linear;
}

.btn-type-status(@type, @status) {
  .@{btn-prefix-cls}--@{type}.@{btn-prefix-cls}-status--@{status}:not(
      .@{btn-prefix-cls}--disabled
    ) {
    background-color: ~'@{btn-@{type}-@{status}-bg}';
    color: ~'@{btn-@{type}-@{status}-color}';
    border: @border-1 @border-solid ~'@{btn-@{type}-@{status}-border}';

    &:not(.@{btn-prefix-cls}--loading):hover {
      background-color: ~'@{btn-@{type}-@{status}-hover-bg}';
      color: ~'@{btn-@{type}-@{status}-color}';
      border: @border-1 @border-solid ~'@{btn-@{type}-@{status}-border}';
    }

    &:not(.@{btn-prefix-cls}--loading):active {
      background-color: ~'@{btn-@{type}-@{status}-active-bg}';
      color: ~'@{btn-@{type}-@{status}-color}';
      border: @border-1 @border-solid ~'@{btn-@{type}-@{status}-border}';
    }
  }
}

.btn-type-status(primary, default);
.btn-type-status(primary, warning);
.btn-type-status(primary, danger);
.btn-type-status(primary, success);

.btn-type-status(default, default);
.btn-type-status(default, warning);
.btn-type-status(default, danger);
.btn-type-status(default, success);

.btn-type-status(dashed, default);
.btn-type-status(dashed, warning);
.btn-type-status(dashed, danger);
.btn-type-status(dashed, success);

.btn-text-status(@status) {
  .@{btn-prefix-cls}--text.@{btn-prefix-cls}-status--@{status}:not(
      .@{btn-prefix-cls}--disabled
    ) {
    color: ~'@{btn-text-@{status}-color}';

    &:not(.@{btn-prefix-cls}--loading):hover {
      color: ~'@{btn-text-@{status}-hover-color}';
    }

    &:not(.@{btn-prefix-cls}--loading):active {
      color: ~'@{btn-text-@{status}-active-color}';
    }
  }
}

.btn-text-status(default);
.btn-text-status(warning);
.btn-text-status(danger);
.btn-text-status(success);

.btn-link-status(@status) {
  .@{btn-prefix-cls}--link.@{btn-prefix-cls}-status--@{status}:not(
      .@{btn-prefix-cls}--disabled
    ) {
    color: ~'@{btn-link-@{status}-color}';

    &:not(.@{btn-prefix-cls}--loading):hover {
      color: ~'@{btn-link-@{status}-hover-color}';
    }

    &:not(.@{btn-prefix-cls}--loading):active {
      color: ~'@{btn-link-@{status}-active-color}';
    }
  }
}

.btn-link-status(default);
.btn-link-status(warning);
.btn-link-status(danger);
.btn-link-status(success);

.@{btn-prefix-cls}--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transform: none;
}

.@{btn-prefix-cls}-size--default {
  padding: @spacing-2 @spacing-6;
  font-size: @font-size-body;
  border-radius: @border-radius-medium;
}

.btn-size(@size) {
  .@{btn-prefix-cls}-size--@{size} {
    padding: ~'@{btn-@{size}-padding-vertical}'
      ~'@{btn-@{size}-padding-horizontal}';
    font-size: ~'@{btn-@{size}-font-size}';
    border-radius: ~'@{btn-@{size}-border-radius}';
  }
}

.btn-size(tiny);
.btn-size(small);
.btn-size(middle);
.btn-size(large);

@keyframes lyra-btn-spin {
  to {
    transform: rotate(360deg);
  }
}
