@import '../../style/theme/default';

@btn-font-weight: @font-weight-400;

@btn-padding-horizontal-mini: @spacing-3;
@btn-padding-horizontal-small: @spacing-4;
@btn-padding-horizontal-default: @spacing-7;
@btn-padding-horizontal-large: @spacing-9;

@btn-height-mini: @size-mini;
@btn-height-small: @size-small;
@btn-height-default: @size-default;
@btn-height-large: @size-large;

@btn-font-size-mini: @font-size-body-1;
@btn-font-size-small: @font-size-body-1;
@btn-font-size-default: @font-size-body-3;
@btn-font-size-large: @font-size-title-1;

@btn-border-radius: @border-radius-medium;
