@primary-1: #f0f6ff;
@primary-2: #d6e7ff;
@primary-3: #adcbff;
@primary-4: #85adff;
@primary-5: #5c8dff;
@primary-6: #3267fc;
@primary-7: #204bd6;
@primary-8: #1231b0;
@primary-9: #071d8a;
@primary-10: #041163;

@white: #ffffff;
@gray-1: #fafafa;
@gray-2: #f5f5f5;
@gray-3: #f0f0f0;
@gray-4: #d9d9d9;
@gray-5: #bfbfbf;
@gray-6: #8c8c8c;
@gray-7: #595959;
@gray-8: #434343;
@gray-9: #262626;
@black: #000000;

@danger-1: #fff2f0;
@danger-2: #ffdcd6;
@danger-3: #ffb6ad;
@danger-4: #ff8d85;
@danger-5: #ff615c;
@danger-6: #ff3232;
@danger-7: #d92127;
@danger-8: #b3121d;
@danger-9: #8c0714;
@danger-10: #660411;

@success-1: #f6ffed;
@success-2: #d9f7be;
@success-3: #b7eb8f;
@success-4: #95de64;
@success-5: #73d13d;
@success-6: #52c41a;
@success-7: #389e0d;
@success-8: #237804;
@success-9: #135200;
@success-10: #092b00;

@warning-1: #fff7e6;
@warning-2: #ffe7ba;
@warning-3: #ffd591;
@warning-4: #ffc069;
@warning-5: #ffa940;
@warning-6: #fa8c16;
@warning-7: #d46b08;
@warning-8: #ad4e00;
@warning-9: #873800;
@warning-10: #612500;

@link-1: #f0f8ff;
@link-2: #d1e7ff;
@link-3: #a2c7f5;
@link-4: #74a4e8;
@link-5: #4b82db;
@link-6: #2560ce;
@link-7: #1644a8;
@link-8: #0a2c82;
@link-9: #03195c;
@link-10: #010c36;
